body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	min-width:$width_content;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.catalog {
    min-height:366px;
}

.btn {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    transition: .2s ease-out;
    font-weight:500;
    &-super {
        color: #ffffff;
        background-image: linear-gradient($yellow, $pumpkin);
        box-shadow: 0 0 9px 0 rgba(226,127,1,0.5);
        &:hover {
            box-shadow: none;
            background-image: linear-gradient( $pumpkin 100%, $yellow);
        }
    }
    &-transparent {
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient($yellow, $pumpkin) 1 100%;
        position: relative;
        color: $pumpkin;
        box-shadow:  inset 0 0 9px 0 rgba(226,127,1,0.5), 0 0 9px 0 rgba(226,127,1,0.5);
        &:before {
            content: '';
            top:-3px;
            left: 0;
            position: absolute;
            width: 100%;
            height:3px;
            background: $yellow;
        }
        &:after {
            content: '';
            bottom:-3px;
            left: 0;
            position: absolute;
            width: 100%;
            height:3px;
            background: $pumpkin;
        }
        &:hover {
            box-shadow: none;
            border: 3px solid $pumpkin;
            &:before {
                background: $pumpkin;
            }
        }
    }
}

.flip-enter {

}
.flip-enter-active {
    animation: flipInX 0.3s linear;
}

.flip-leave {

}

.flip-leave-active {
    animation: flipOutX 0.3s linear;
}

@keyframes flipInX{
    from{transform: rotateX(90deg);}
    to{transform: rotateX(0deg);}
}

@keyframes flipOutX{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(90deg);}
}