//- JavaScript
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
case env
  when "dev"
    script(src="/vendors/bundle.js")
    script(src="/scripts/main.js")
  when "stage"
  when "prod"
    script(src="/vendors/bundle.min.js")
    script(src="/scripts/main.min.js")
