extends /extends/layout
include /mixins/sample

block variables
  - var title = "Список";
  - var description = "Список картонок";

block content
  h1 Hello!
  +sample("I'm a sample mixin with class modifier!")(class="c-sample--modifier")
